<a href="https://colab.research.google.com/github/sourajroy-afk/BA-using-PYTHON-/blob/main/01_data_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Data Understanding
#This notebook focuses on understanding the structure and attributes of the supplier dataset before performing data cleaning and analysis.
## Loading and Inspecting Data (Basic Python)

In [5]:
# Opening the dataset using basic Python
file_path = "/content/supplier_data.csv"  # update path after uploading to colab

data = []

with open(file_path, "r") as file:
    for line in file:
        # remove newline + split by comma
        row = line.strip().split(",")
        data.append(row)

# Print first 5 rows
for row in data[:5]:
    print(row)

# Print number of rows
print("\nTotal rows:", len(data))

# Print column names
print("\nColumn Names:", data[0])

['\ufeffSupplier_ID', 'On_Time_Delivery', 'Lead_Time_Days', 'Lead_Time_Variance', 'Defect_Rate', 'Order_Fill_Rate', 'Cost_Variance', 'Payment_Delay_Days', 'Risk_Level']
['S001', '92', '7', '1.2', '1.5', '96', '2', '5', 'Low']
['S002', '85', '10', '3.5', '2.8', '92', '5', '12', 'Medium']
['S003', '78', '14', '4.2', '3.5', '88', '6', '18', 'Medium']
['S004', '60', '18', '5.1', '5.8', '75', '8', '25', 'High']

Total rows: 21

Column Names: ['\ufeffSupplier_ID', 'On_Time_Delivery', 'Lead_Time_Days', 'Lead_Time_Variance', 'Defect_Rate', 'Order_Fill_Rate', 'Cost_Variance', 'Payment_Delay_Days', 'Risk_Level']

In [6]:
clean_data = []

# Skip the header, process rows 1 onwards
header = data[0]

for row in data[1:]:
    # Convert values to correct types
    try:
        cleaned_row = [
            row[0],                    # Supplier_ID (string)
            int(row[1]),               # On_Time_Delivery
            int(row[2]),               # Lead_Time_Days
            float(row[3]),             # Lead_Time_Variance
            float(row[4]),             # Defect_Rate
            int(row[5]),               # Order_Fill_Rate
            float(row[6]),             # Cost_Variance
            int(row[7]),               # Payment_Delay_Days
            row[8]                     # Risk_Level
        ]

        clean_data.append(cleaned_row)

    except:
        print("Skipping bad row:", row)

print("Cleaning complete.")
print("Total valid rows:", len(clean_data))

print("Total suppliers:", len(clean_data))

Cleaning complete.
Total valid rows: 20
Total suppliers: 20

In [10]:
## 3. Exploratory Data Analysis (Basic Python)

# Average On-Time Delivery
on_time = [row[1] for row in clean_data]

print("Average On-Time Delivery:", sum(on_time)/len(on_time))
print("Minimum On-Time Delivery:", min(on_time))
print("Maximum On-Time Delivery:", max(on_time))

# Supplier count by Risk Level
risk_counts = {"Low": 0, "Medium": 0, "High": 0}

for row in clean_data:
    risk_counts[row[8]] += 1

print("Supplier count by risk level:")
print(risk_counts)

Average On-Time Delivery: 76.3
Minimum On-Time Delivery: 52
Maximum On-Time Delivery: 97
Supplier count by risk level:
{'Low': 6, 'Medium': 7, 'High': 7}

In [15]:
## 4. Exploratory Data Analysis (Using Pandas)

import pandas as pd

df = pd.DataFrame(clean_data, columns=header)
df.head()

df.describe()
df['Risk_Level'].value_counts()

Risk_Level
Medium    7
High      7
Low       6
Name: count, dtype: int64