<a href="https://colab.research.google.com/github/sourajroy-afk/BA-using-PYTHON-/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print numbers 1 to 20

Print even numbers between 1 and 50

Print multiplication table of a number

Find sum of all numbers in a list

Count how many positive numbers in a list

In [ ]:
for number in range(0,20):
 print(number+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for number in range(1,51):
 if (number%2==0):
  print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
n=int(input("Enter The number you want a multiplication table: "))
m= int(input("enter the number till you want the table: "))
for m in range(1,m+1):
  a=n*m
  print(n,"*",m, "=" , a)

Enter The number you want a multiplication table: 22
enter the number till you want the table: 11
22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220
22 * 11 = 242

In [ ]:
sum=0
my_list=[10,20,30,40,50]
for i in my_list:
  sum=sum+i
print(sum)

150

In [ ]:
count=0
my_list=[10,-11,12,11,34,-78,19]
for i in my_list:
 if(i>0):
  count=count+1
print("No of positive numbers",count)

No of positive numbers 5


1. Write a program using `while` to print numbers from **1 to 100**.

2. Write a program using `while` to print numbers from **10 down to 1**.

3. Write a program using `while` that takes a number as input and prints its **multiplication table (1 to 10)**.

4. Write a program using `while` that takes a number `n` as input and prints the **square of all numbers from 1 to n**.

5. Write a program using `while` to find the **sum of all numbers from 1 to n**.

6. Write a program using a `for` loop to calculate the **factorial of a number**.

7. Write a program using `while` to print the **Fibonacci series up to n**.

8. Write a program using `while` to **check whether a number is prime or not**.

9. Write a program using `for + while` to **print all prime numbers up to n**.

10. Write a program using `while` to **reverse a given number**.

11. Write a program using `while` to **extract and print each digit of a number**.

12. Write a program using `for` and `break` to **stop the loop when the number becomes 13**.

13. Write a program using `for` and `continue` to **skip all multiples of 3 from 1 to 20**.

14. Write a program using **nested while loops** to print the following **star pyramid**:

```
      *
     ***
    *****
   *******
  *********
 ***********
*************
```

15. Write a program using `for` where **money starts with 1 and doubles every day for 30 days**. Print the final amount.

16. Write a program using `for` where **money starts with 1 and doubles only every 5th year (up to 30 years)**. Print the final amount.

In [ ]:
i=1;
number=int(input("Enter the last number you want to see from 1: "))
while(number>=i):
  print(i)
  i=i+1

Enter the last number you want to see from 1: 100
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
i=0
n=int(input("Enter the last number: "))
while(n>=1):
  i=n
  print(i)
  n=n-1

Enter the last number: 20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
m=1
n=int(input("Enter the number you want a multiplication table: "))
while(m<=10):
 s=n*m
 print(s)
 m=m+1

Enter the number you want a multiplication table: 10
10
20
30
40
50
60
70
80
90
100

In [ ]:
i=1
n=int(input("Enter the last number: "))
while(i<=n):
  s=i*i
  print(s)
  i=i+1

Enter the last number: 5
1
4
9
16
25

In [ ]:
i=0
sum=0
n=int(input("Enter the last number: "))
while (i<n):
  i=i+1
  print(i)
  sum=i+sum
print(sum)

Enter the last number: 10
1
2
3
4
5
6
7
8
9
10
55

In [ ]:
factorial=1
n=int(input("write the number you want factorial:"))
for n in range(1,n+1):
  factorial=factorial*n
  print(n)
print(factorial)

write the number you want factorial:5
1
2
3
4
5
120

In [74]:
a=1
b=0
i=0
n=int(input("Enter the last number till  you need the series: "))
while(i<=n):
 print(i)
 i=a+b
 a=b
 b=i

Enter the last number till  you need the series: 200
0
1
1
2
3
5
8
13
21
34
55
89
144

In [89]:
i=1
count=0
n=int(input("enter the number: "))
while(i<=n):
  if(n%i==0):
   count=count+1
  i=i+1
  print(i)
if(count==2):
   print("number is prime")
else:
    print("not prime/composite")

enter the number: 45
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
not prime/composite

In [94]:

n=int(input("enter the last number: "))
for n in range(1,n+1):
  i=1
  count=0
  while(i<=n):
   if(n%i==0):
    count=count+1
   i=i+1
  if(count==2):
   print(n)

enter the last number: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [104]:
rev=0
n=int(input("please enter a number: "))
while(n>0):
  print(n%10)
  rev=(n%10)+(rev*10)
  n=n//10
print("the reverse number is: " , rev)

please enter a number:12345678
8
7
6
5
4
3
2
1
the reverse number is:  87654321