<a href="https://colab.research.google.com/github/sourajroy-afk/BA-using-PYTHON-/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print numbers 1 to 20

Print even numbers between 1 and 50

Print multiplication table of a number

Find sum of all numbers in a list

Count how many positive numbers in a list

In [7]:
for number in range(0,20):
 print(number+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
for number in range(1,51):
 if (number%2==0):
  print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [27]:
n=int(input("Enter The number you want a multiplication table: "))
m= int(input("enter the number till you want the table: "))
for m in range(1,m+1):
  a=n*m
  print(n,"*",m, "=" , a)

Enter The number you want a multiplication table: 22
enter the number till you want the table: 11
22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220
22 * 11 = 242